
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

@media (max-width: 480px) {
    h1 {
        font-size: 18px;
    }
}

body {
    background-image: url('../img/bg.jpg');
    background-repeat: repeat-y;
}

div > h1,
body > div > nav > div > a > h4,
.article-block,
.article-block a {
    color: #b47f0a;
    font-family: 'Ubuntu', sans-serif;
}

body > div > div > ol > li {
    margin: 0 5px;
}

.iv.container-image > img {
    width: 100%;
}

.article-block {
    background: #f3d36c;
    color: #222222;
    box-shadow: 2px 2px 1px hwb(39 53% 17%);
    padding: 10px;
    margin: 10px;
}

div > h1 {
    color: #0f7506;
}

body > div > div > ol > li {
    margin: 0 5px;
}

div.container-image > img {
    width: 100%;
}
