
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

@media (max-width: 480px) {
    h1 {
        font-size: 18px;
    }
}

body {
    background-image: url('../img/bg.jpg');
    background-repeat: repeat-y;
}

div > h1,
body > div > nav > div > a > h4,
.article-block,
.article-block a {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}

body > div > div > ol > li {
    margin: 0 5px;
}

.iv.container-image > img {
    width: 100%;
}

.article-block {
    background: #fff;
    color: #383838;
    box-shadow: 2px 2px 1px hwb(0 100% 0%);
    padding: 10px;
    margin: 10px;
}

div > h1 {
    color: #0e838b;
}

body > div > div > ol > li {
    margin: 0 5px;
}

div.container-image > img {
    width: 100%;
}
